.button {
  border: none;
  box-sizing: border-box;
  text-decoration: none;

  &--special {
    color: var(--basic-green);

    &:hover,
    &:focus {
      color: var(--special-green);
    }

    &:active {
      color: var(--special-green-lighten);
    }
  }

  &--submit {
    color: var(--basic-green);
    background-color: var(--basic-white);
    border: 1px solid var(--basic-green);


    &:hover,
    &:focus {
      color: var(--special-green);
      border-color: var(--special-green);
    }

    &:active {
      color: var(--special-green-lighten);
      border-color: var(--special-green-lighten);
    }
  }
}

/////////
