.main-footer {
  background-color: var(--basic-grey);
}

.main-footer__wrapper {
  max-width: @desktop-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 30px 30px;
  margin: 0 auto;
  outline: 5px dotted tomato;
  outline-offset: -5px;
}

.main-footer__nav {
  justify-self: start;
  margin-right: 20px;
}

.main-footer__requisites {
  margin-right: 20px;
}

// .main-footer__contacts {
//   // margin-left: auto;
// }

.main-footer__license {
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: var(--special-blacken);
  text-align: left;
  padding: 0;
  margin: 30px 0;
}

@media (max-width: @tablet-width) {
  .main-footer__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-footer__nav {
    margin: 0 20px 20px 20px;
  }

  .main-footer__requisites {
    margin: 0 20px 20px 20px;
  }

  .main-footer__contacts {
    margin: 0 auto;
  }
}

@media (max-width: @mobile-width) {
  .main-footer__wrapper {
    justify-content: flex-start;
  }
}

////
