.requisites {
  text-align: left;
  outline: 5px solid red;
  outline-offset: -5px;
}

.requisites__title {
  .heading-text-medium;
  color: var(--special-blacken);
  padding: 0;
  margin: 0;
}

.requisites__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.requisites__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
