:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-green: rgba(3, 160, 108, 1);

  --special-black: rgba(0, 0, 0, 0.3);
  --special-blacken: rgba(0, 0, 0, 0.8);
}

@font-family-basic: "Source Sans Pro", "Arial", sans-serif;
@desktop-width: 1230px;
@tablet-width: 800px;
@mobile-width: 360px;
